body {
    background-color: whitesmoke;
    margin-left: 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem 0rem;
    font-size: 1.5rem;
    text-align: right;
    height: 12rem;
    min-height: 8rem;
}

.logo {
    width: 14rem;
    min-width: 12rem;
    min-height: 8rem;
    border-radius: 100%;
    background-image: url("../assets/img/logo.jpg");
    background-size: cover;
    background-position: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.nav {
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

.navList {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    padding: 0;
    margin: 4rem 4rem 4rem 4rem;
    list-style: none;
}

.navItem {
    margin-left: 1.5rem;
    text-decoration: none;
}

.navItem a {
    text-decoration: none;
    padding: 2rem 0.8rem;
    color: black;
    font-size: 2.5rem;
}

.navItem a:hover {
    text-decoration: underline;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h1 {
    color: black;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    color: black;
    text-align: center;
    font-size: 2.25rem;
    margin-left: 0.5rem;
}

h3 {
    color: black;
    font-size: 2rem;
    margin-left: 2rem;
}

h4 {
    color: black;
    text-align: center;
    font-size: 2.5rem;
}

.titlePrincipal h1 {
    height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: black;
    color: whitesmoke;
    margin-top: 1rem;
    min-width: 74rem;
    margin-left: 0.5rem;
}

.kick {
    display: flex;
    flex-wrap: wrap;
    min-width: 70rem;
    height: 30rem;
    background-image: url("../assets/img/kick.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2.5rem;
    margin-left: 0.5rem;
}

.textKick {
    text-align: center;
    min-width: 67.5rem;
}

.funcionalContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 2.5rem;
}

.funcionalContainer img {
    width: 45%;
    height: 30rem;
    min-width: 28rem;
}

.funcionalImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.funcionalImage img {
    height: 30rem;
    width: 45%;
    margin-top: 2.5rem;
    align-items: center;
    min-width: 28rem;
}

.textFuncional {
    text-align: center;
    min-width: 40rem;
}

.footer {
    height: 10rem;
    background-color: black;
    align-content: space-between;
    min-width: 70rem;
    text-align: center;
    margin-left: 0.5rem;
}

.footer h5 {
    color: whitesmoke;
}

.footerInfo {
    height: 10rem;
    background-color: black;
    display: flex;
    align-content: space-between;
    min-width: 70rem;
    margin-left: 0.5rem;
}

.footerInfo h5 {
    color: whitesmoke;
}

.footerInfo p {
    color: whitesmoke;
}

.footerNavItem {
    text-decoration: none;
}

.finalFooter {
    justify-content: center;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-left: 0.5rem;
    min-width: 70rem;
}

.finalFooter h5 {
    color: whitesmoke;
}

@media (max-width: 48rem) {
    .logo { 
        margin: 1rem 32rem 0rem 30rem;
    }
    
    .navList {
        margin: 1rem 0rem 0rem 3rem;
    }
    .navItem {
        text-align: center;
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .navItem a { 
        font-size: 2.5rem;
    }  

    .titlePrincipal {
        min-width: 74rem;
    }

    .titlePrincipal h1 {
        display: flex;
        flex: 1;
        min-width: 60rem;
        margin: 8rem 0rem 0rem 0rem;
    }

    .kick {
        min-width: 74rem;
        margin-left: 0rem;
    }

    .funcionalContainer {
        justify-content: space-around;
        align-items: center;
        margin-top: 1rem;
        margin-left: 6rem;
    }

    .funcionalContainer img {
        height: 20rem;
        margin: 2rem;
    }

    .funcionalImage {
        justify-content: center;
        align-items: center;
        margin-left: 38rem;
        
    }

    .funcionalImage img {
        height: 20rem;
    }

    .textFuncional {
        text-align: center;
        margin-left: 18rem;
        margin-top: 4rem;
    }

    .textFuncional h2{
        text-align: center;
        
    }

    .footer {
        min-width: 74rem;
        margin-left: 0rem;
    }

    .footerInfo {
        min-width: 74rem;
        margin-left: 0rem;
    }

    .finalFooter {
        min-width: 74rem;
        margin-left: 0rem;
    }
}
