body {
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.navbar {
    float: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40;
    font-size: 28px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 94px;
    border-radius: 20px;
}

.navbar button {
    width: 14rem;
    height: 76px;
    font-size: 30px;
    float:inline-start;
    margin-inline-start: 8rem;
    display: inline;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 44px;
    margin-top: 1rem;
    background-color: rgb(3, 3, 70);
}

.navbar button a {
    color: whitesmoke;
    text-align: center;
}

h1 {
    color: rgb(3, 3, 70);
    text-align: center;
    font-size: 40px;
}

h2 {
    color: rgb(3, 3, 70);
    text-align: left;
    font-size: 36px;
    margin-left: 8px;
}

h3 {
    color: rgb(3, 3, 70);
    font-size: 32px;
    margin-left: 8px;
}

h4 {
    color: rgb(3, 3, 70);
    text-align: center;
    font-size: 28px;
}

.footer {
    width: 100%;
    height: 10rem;
    background-color: black;
    margin-top: 20px;
    flex-direction: column;
    align-content: space-between;
}

.footer h3 {
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
}

.titlePrincipal h1{
    height: 48px;
    text-align: center;
    font-size: 40px;
    background-color: rgb(3, 3, 70);
    color: whitesmoke
}

.funcionalContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 40px;
}

.funcionalContainer img {
    width: 40%;
    height: 30rem;
}

.funcionalImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.funcionalImage img {
    height: 30rem;
    width: 40%;
    margin-top: 40px;
    align-items: center;
}

.kick {
    width: 100%;
    height: 30rem;
    background-image: url("../assets/img/kick.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
}